sudo: required

language: generic

services:
  - docker

script:
  - docker --version  # document the version travis is using
  - docker-compose -f src/Docker/docker-compose.yml -f src/Docker/docker-compose.release.yml -p donut config
  - docker-compose -f src/Docker/docker-compose.yml -f src/Docker/docker-compose.release.yml -p donut build
  - export DOCKER_TLS_VERIFY=0
  - docker login webterminal.westeurope.cloudapp.azure.com:5000 -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  - docker tag donut:latest webterminal.westeurope.cloudapp.azure.com:5000/donut:latest
  - docker push webterminal.westeurope.cloudapp.azure.com:5000/donut:latest